html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0 auto;
  line-height: 1.5;
  position: relative;
  transition: 0.6s opacity ease-in-out;
  min-height: 100%;
  @include flex-center;
  @include select-none;
  @include sprites($spritesheet-sprites);
}

[class^='btn'] {
  cursor: var(--cursor-click);
}

//-----------------style V-SELECT

.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  border: none;
  font-family: exo, 'Open Sans', Sans, sans-serif;
  text-align: center;
  text-transform: initial;
  margin-top: 16px;
}

.style-chooser .vs__search::placeholder {
  opacity: 0.7;
}

.vs__selected-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vs__selected {
  position: absolute;
}

.vs__search:focus {
  text-align: center;
}

.vs__actions {
  transform: scale(1.4);
}

//-----------------style V-POPUP

.swal__confirmBtn {
  font-size: 24px !important;
  font-family: bungee, 'Open Sans', Sans, sans-serif;
  letter-spacing: 1px;
  cursor: var(--cursor-click) !important;
}

.swal__icon {
  cursor: var(--cursor-padrao) !important;
}

.swal__popup {
  border-radius: 10px !important;
}
