// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bg-bebedouro-name: 'bg-bebedouro';
$bg-bebedouro-x: 5778px;
$bg-bebedouro-y: 2171px;
$bg-bebedouro-offset-x: -5778px;
$bg-bebedouro-offset-y: -2171px;
$bg-bebedouro-width: 1920px;
$bg-bebedouro-height: 1080px;
$bg-bebedouro-total-width: 7698px;
$bg-bebedouro-total-height: 5425px;
$bg-bebedouro-image: '~@/assets/spritesheet.png';
$bg-bebedouro: (5778px, 2171px, -5778px, -2171px, 1920px, 1080px, 7698px, 5425px, '~@/assets/spritesheet.png', 'bg-bebedouro', );
$bg-cenario-sala-name: 'bg-cenario-sala';
$bg-cenario-sala-x: 0px;
$bg-cenario-sala-y: 3258px;
$bg-cenario-sala-offset-x: 0px;
$bg-cenario-sala-offset-y: -3258px;
$bg-cenario-sala-width: 1921px;
$bg-cenario-sala-height: 1081px;
$bg-cenario-sala-total-width: 7698px;
$bg-cenario-sala-total-height: 5425px;
$bg-cenario-sala-image: '~@/assets/spritesheet.png';
$bg-cenario-sala: (0px, 3258px, 0px, -3258px, 1921px, 1081px, 7698px, 5425px, '~@/assets/spritesheet.png', 'bg-cenario-sala', );
$bg-chao-sujo-name: 'bg-chao-sujo';
$bg-chao-sujo-x: 5778px;
$bg-chao-sujo-y: 3256px;
$bg-chao-sujo-offset-x: -5778px;
$bg-chao-sujo-offset-y: -3256px;
$bg-chao-sujo-width: 1920px;
$bg-chao-sujo-height: 1080px;
$bg-chao-sujo-total-width: 7698px;
$bg-chao-sujo-total-height: 5425px;
$bg-chao-sujo-image: '~@/assets/spritesheet.png';
$bg-chao-sujo: (5778px, 3256px, -5778px, -3256px, 1920px, 1080px, 7698px, 5425px, '~@/assets/spritesheet.png', 'bg-chao-sujo', );
$bg-cozinha-name: 'bg-cozinha';
$bg-cozinha-x: 3852px;
$bg-cozinha-y: 2172px;
$bg-cozinha-offset-x: -3852px;
$bg-cozinha-offset-y: -2172px;
$bg-cozinha-width: 1921px;
$bg-cozinha-height: 1081px;
$bg-cozinha-total-width: 7698px;
$bg-cozinha-total-height: 5425px;
$bg-cozinha-image: '~@/assets/spritesheet.png';
$bg-cozinha: (3852px, 2172px, -3852px, -2172px, 1921px, 1081px, 7698px, 5425px, '~@/assets/spritesheet.png', 'bg-cozinha', );
$bg-horta-name: 'bg-horta';
$bg-horta-x: 0px;
$bg-horta-y: 1086px;
$bg-horta-offset-x: 0px;
$bg-horta-offset-y: -1086px;
$bg-horta-width: 1921px;
$bg-horta-height: 1081px;
$bg-horta-total-width: 7698px;
$bg-horta-total-height: 5425px;
$bg-horta-image: '~@/assets/spritesheet.png';
$bg-horta: (0px, 1086px, 0px, -1086px, 1921px, 1081px, 7698px, 5425px, '~@/assets/spritesheet.png', 'bg-horta', );
$bg-menu-name: 'bg-menu';
$bg-menu-x: 5778px;
$bg-menu-y: 0px;
$bg-menu-offset-x: -5778px;
$bg-menu-offset-y: 0px;
$bg-menu-width: 1920px;
$bg-menu-height: 1081px;
$bg-menu-total-width: 7698px;
$bg-menu-total-height: 5425px;
$bg-menu-image: '~@/assets/spritesheet.png';
$bg-menu: (5778px, 0px, -5778px, 0px, 1920px, 1081px, 7698px, 5425px, '~@/assets/spritesheet.png', 'bg-menu', );
$bg-sete-erros-name: 'bg-sete-erros';
$bg-sete-erros-x: 0px;
$bg-sete-erros-y: 2172px;
$bg-sete-erros-offset-x: 0px;
$bg-sete-erros-offset-y: -2172px;
$bg-sete-erros-width: 1921px;
$bg-sete-erros-height: 1081px;
$bg-sete-erros-total-width: 7698px;
$bg-sete-erros-total-height: 5425px;
$bg-sete-erros-image: '~@/assets/spritesheet.png';
$bg-sete-erros: (0px, 2172px, 0px, -2172px, 1921px, 1081px, 7698px, 5425px, '~@/assets/spritesheet.png', 'bg-sete-erros', );
$cenario-inovacao2-name: 'cenario_inovacao2';
$cenario-inovacao2-x: 1926px;
$cenario-inovacao2-y: 2172px;
$cenario-inovacao2-offset-x: -1926px;
$cenario-inovacao2-offset-y: -2172px;
$cenario-inovacao2-width: 1921px;
$cenario-inovacao2-height: 1081px;
$cenario-inovacao2-total-width: 7698px;
$cenario-inovacao2-total-height: 5425px;
$cenario-inovacao2-image: '~@/assets/spritesheet.png';
$cenario-inovacao2: (1926px, 2172px, -1926px, -2172px, 1921px, 1081px, 7698px, 5425px, '~@/assets/spritesheet.png', 'cenario_inovacao2', );
$cenario-mapacpeca-name: 'cenario_mapacpeca';
$cenario-mapacpeca-x: 3852px;
$cenario-mapacpeca-y: 0px;
$cenario-mapacpeca-offset-x: -3852px;
$cenario-mapacpeca-offset-y: 0px;
$cenario-mapacpeca-width: 1921px;
$cenario-mapacpeca-height: 1081px;
$cenario-mapacpeca-total-width: 7698px;
$cenario-mapacpeca-total-height: 5425px;
$cenario-mapacpeca-image: '~@/assets/spritesheet.png';
$cenario-mapacpeca: (3852px, 0px, -3852px, 0px, 1921px, 1081px, 7698px, 5425px, '~@/assets/spritesheet.png', 'cenario_mapacpeca', );
$cenario-mapaspeca-name: 'cenario_mapaspeca';
$cenario-mapaspeca-x: 3852px;
$cenario-mapaspeca-y: 1086px;
$cenario-mapaspeca-offset-x: -3852px;
$cenario-mapaspeca-offset-y: -1086px;
$cenario-mapaspeca-width: 1921px;
$cenario-mapaspeca-height: 1081px;
$cenario-mapaspeca-total-width: 7698px;
$cenario-mapaspeca-total-height: 5425px;
$cenario-mapaspeca-image: '~@/assets/spritesheet.png';
$cenario-mapaspeca: (3852px, 1086px, -3852px, -1086px, 1921px, 1081px, 7698px, 5425px, '~@/assets/spritesheet.png', 'cenario_mapaspeca', );
$cenario1-governo-name: 'cenario1_governo';
$cenario1-governo-x: 0px;
$cenario1-governo-y: 0px;
$cenario1-governo-offset-x: 0px;
$cenario1-governo-offset-y: 0px;
$cenario1-governo-width: 1921px;
$cenario1-governo-height: 1081px;
$cenario1-governo-total-width: 7698px;
$cenario1-governo-total-height: 5425px;
$cenario1-governo-image: '~@/assets/spritesheet.png';
$cenario1-governo: (0px, 0px, 0px, 0px, 1921px, 1081px, 7698px, 5425px, '~@/assets/spritesheet.png', 'cenario1_governo', );
$cenarioalimentacao-name: 'cenarioalimentacao';
$cenarioalimentacao-x: 5778px;
$cenarioalimentacao-y: 1086px;
$cenarioalimentacao-offset-x: -5778px;
$cenarioalimentacao-offset-y: -1086px;
$cenarioalimentacao-width: 1920px;
$cenarioalimentacao-height: 1080px;
$cenarioalimentacao-total-width: 7698px;
$cenarioalimentacao-total-height: 5425px;
$cenarioalimentacao-image: '~@/assets/spritesheet.png';
$cenarioalimentacao: (5778px, 1086px, -5778px, -1086px, 1920px, 1080px, 7698px, 5425px, '~@/assets/spritesheet.png', 'cenarioalimentacao', );
$cenariocarrinho-inovacao-name: 'cenariocarrinho_inovacao';
$cenariocarrinho-inovacao-x: 1926px;
$cenariocarrinho-inovacao-y: 3258px;
$cenariocarrinho-inovacao-offset-x: -1926px;
$cenariocarrinho-inovacao-offset-y: -3258px;
$cenariocarrinho-inovacao-width: 1921px;
$cenariocarrinho-inovacao-height: 1081px;
$cenariocarrinho-inovacao-total-width: 7698px;
$cenariocarrinho-inovacao-total-height: 5425px;
$cenariocarrinho-inovacao-image: '~@/assets/spritesheet.png';
$cenariocarrinho-inovacao: (1926px, 3258px, -1926px, -3258px, 1921px, 1081px, 7698px, 5425px, '~@/assets/spritesheet.png', 'cenariocarrinho_inovacao', );
$cenarioescola-dentro-name: 'cenarioescola_dentro';
$cenarioescola-dentro-x: 3852px;
$cenarioescola-dentro-y: 3258px;
$cenarioescola-dentro-offset-x: -3852px;
$cenarioescola-dentro-offset-y: -3258px;
$cenarioescola-dentro-width: 1921px;
$cenarioescola-dentro-height: 1081px;
$cenarioescola-dentro-total-width: 7698px;
$cenarioescola-dentro-total-height: 5425px;
$cenarioescola-dentro-image: '~@/assets/spritesheet.png';
$cenarioescola-dentro: (3852px, 3258px, -3852px, -3258px, 1921px, 1081px, 7698px, 5425px, '~@/assets/spritesheet.png', 'cenarioescola_dentro', );
$cenarioescola-fora-name: 'cenarioescola_fora';
$cenarioescola-fora-x: 0px;
$cenarioescola-fora-y: 4344px;
$cenarioescola-fora-offset-x: 0px;
$cenarioescola-fora-offset-y: -4344px;
$cenarioescola-fora-width: 1921px;
$cenarioescola-fora-height: 1081px;
$cenarioescola-fora-total-width: 7698px;
$cenarioescola-fora-total-height: 5425px;
$cenarioescola-fora-image: '~@/assets/spritesheet.png';
$cenarioescola-fora: (0px, 4344px, 0px, -4344px, 1921px, 1081px, 7698px, 5425px, '~@/assets/spritesheet.png', 'cenarioescola_fora', );
$cenariogoverno-ong-name: 'cenariogoverno_ong';
$cenariogoverno-ong-x: 1926px;
$cenariogoverno-ong-y: 4344px;
$cenariogoverno-ong-offset-x: -1926px;
$cenariogoverno-ong-offset-y: -4344px;
$cenariogoverno-ong-width: 1921px;
$cenariogoverno-ong-height: 1081px;
$cenariogoverno-ong-total-width: 7698px;
$cenariogoverno-ong-total-height: 5425px;
$cenariogoverno-ong-image: '~@/assets/spritesheet.png';
$cenariogoverno-ong: (1926px, 4344px, -1926px, -4344px, 1921px, 1081px, 7698px, 5425px, '~@/assets/spritesheet.png', 'cenariogoverno_ong', );
$cenariogoverno-radio-name: 'cenariogoverno_radio';
$cenariogoverno-radio-x: 3852px;
$cenariogoverno-radio-y: 4344px;
$cenariogoverno-radio-offset-x: -3852px;
$cenariogoverno-radio-offset-y: -4344px;
$cenariogoverno-radio-width: 1921px;
$cenariogoverno-radio-height: 1081px;
$cenariogoverno-radio-total-width: 7698px;
$cenariogoverno-radio-total-height: 5425px;
$cenariogoverno-radio-image: '~@/assets/spritesheet.png';
$cenariogoverno-radio: (3852px, 4344px, -3852px, -4344px, 1921px, 1081px, 7698px, 5425px, '~@/assets/spritesheet.png', 'cenariogoverno_radio', );
$cenariogoverno-radio3-name: 'cenariogoverno_radio3';
$cenariogoverno-radio3-x: 1926px;
$cenariogoverno-radio3-y: 1086px;
$cenariogoverno-radio3-offset-x: -1926px;
$cenariogoverno-radio3-offset-y: -1086px;
$cenariogoverno-radio3-width: 1921px;
$cenariogoverno-radio3-height: 1081px;
$cenariogoverno-radio3-total-width: 7698px;
$cenariogoverno-radio3-total-height: 5425px;
$cenariogoverno-radio3-image: '~@/assets/spritesheet.png';
$cenariogoverno-radio3: (1926px, 1086px, -1926px, -1086px, 1921px, 1081px, 7698px, 5425px, '~@/assets/spritesheet.png', 'cenariogoverno_radio3', );
$cenarioprefeitura-governo-name: 'cenarioprefeitura_governo';
$cenarioprefeitura-governo-x: 1926px;
$cenarioprefeitura-governo-y: 0px;
$cenarioprefeitura-governo-offset-x: -1926px;
$cenarioprefeitura-governo-offset-y: 0px;
$cenarioprefeitura-governo-width: 1921px;
$cenarioprefeitura-governo-height: 1081px;
$cenarioprefeitura-governo-total-width: 7698px;
$cenarioprefeitura-governo-total-height: 5425px;
$cenarioprefeitura-governo-image: '~@/assets/spritesheet.png';
$cenarioprefeitura-governo: (1926px, 0px, -1926px, 0px, 1921px, 1081px, 7698px, 5425px, '~@/assets/spritesheet.png', 'cenarioprefeitura_governo', );
$btn-start-name: 'btn-start';
$btn-start-x: 7083px;
$btn-start-y: 4341px;
$btn-start-offset-x: -7083px;
$btn-start-offset-y: -4341px;
$btn-start-width: 452px;
$btn-start-height: 129px;
$btn-start-total-width: 7698px;
$btn-start-total-height: 5425px;
$btn-start-image: '~@/assets/spritesheet.png';
$btn-start: (7083px, 4341px, -7083px, -4341px, 452px, 129px, 7698px, 5425px, '~@/assets/spritesheet.png', 'btn-start', );
$logo-jogo-name: 'logo-jogo';
$logo-jogo-x: 5778px;
$logo-jogo-y: 4341px;
$logo-jogo-offset-x: -5778px;
$logo-jogo-offset-y: -4341px;
$logo-jogo-width: 868px;
$logo-jogo-height: 430px;
$logo-jogo-total-width: 7698px;
$logo-jogo-total-height: 5425px;
$logo-jogo-image: '~@/assets/spritesheet.png';
$logo-jogo: (5778px, 4341px, -5778px, -4341px, 868px, 430px, 7698px, 5425px, '~@/assets/spritesheet.png', 'logo-jogo', );
$counter-name: 'counter';
$counter-x: 6651px;
$counter-y: 4341px;
$counter-offset-x: -6651px;
$counter-offset-y: -4341px;
$counter-width: 427px;
$counter-height: 146px;
$counter-total-width: 7698px;
$counter-total-height: 5425px;
$counter-image: '~@/assets/spritesheet.png';
$counter: (6651px, 4341px, -6651px, -4341px, 427px, 146px, 7698px, 5425px, '~@/assets/spritesheet.png', 'counter', );
$logoceara2050-name: 'logoceara2050';
$logoceara2050-x: 6651px;
$logoceara2050-y: 4492px;
$logoceara2050-offset-x: -6651px;
$logoceara2050-offset-y: -4492px;
$logoceara2050-width: 251px;
$logoceara2050-height: 86px;
$logoceara2050-total-width: 7698px;
$logoceara2050-total-height: 5425px;
$logoceara2050-image: '~@/assets/spritesheet.png';
$logoceara2050: (6651px, 4492px, -6651px, -4492px, 251px, 86px, 7698px, 5425px, '~@/assets/spritesheet.png', 'logoceara2050', );
$spritesheet-width: 7698px;
$spritesheet-height: 5425px;
$spritesheet-image: '~@/assets/spritesheet.png';
$spritesheet-sprites: ($bg-bebedouro, $bg-cenario-sala, $bg-chao-sujo, $bg-cozinha, $bg-horta, $bg-menu, $bg-sete-erros, $cenario-inovacao2, $cenario-mapacpeca, $cenario-mapaspeca, $cenario1-governo, $cenarioalimentacao, $cenariocarrinho-inovacao, $cenarioescola-dentro, $cenarioescola-fora, $cenariogoverno-ong, $cenariogoverno-radio, $cenariogoverno-radio3, $cenarioprefeitura-governo, $btn-start, $logo-jogo, $counter, $logoceara2050, );
$spritesheet: (7698px, 5425px, '~@/assets/spritesheet.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
