// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bebedourocenario-name: 'bebedourocenario';
$bebedourocenario-x: 5763px;
$bebedourocenario-y: 1081px;
$bebedourocenario-offset-x: -5763px;
$bebedourocenario-offset-y: -1081px;
$bebedourocenario-width: 1920px;
$bebedourocenario-height: 1080px;
$bebedourocenario-total-width: 7683px;
$bebedourocenario-total-height: 5405px;
$bebedourocenario-image: '~@/assets/spritesheet.png';
$bebedourocenario: (5763px, 1081px, -5763px, -1081px, 1920px, 1080px, 7683px, 5405px, '~@/assets/spritesheet.png', 'bebedourocenario', );
$bg-menu-name: 'bg-menu';
$bg-menu-x: 5763px;
$bg-menu-y: 0px;
$bg-menu-offset-x: -5763px;
$bg-menu-offset-y: 0px;
$bg-menu-width: 1920px;
$bg-menu-height: 1081px;
$bg-menu-total-width: 7683px;
$bg-menu-total-height: 5405px;
$bg-menu-image: '~@/assets/spritesheet.png';
$bg-menu: (5763px, 0px, -5763px, 0px, 1920px, 1081px, 7683px, 5405px, '~@/assets/spritesheet.png', 'bg-menu', );
$cen1-sujo-name: 'cen1-Sujo';
$cen1-sujo-x: 5763px;
$cen1-sujo-y: 2161px;
$cen1-sujo-offset-x: -5763px;
$cen1-sujo-offset-y: -2161px;
$cen1-sujo-width: 1920px;
$cen1-sujo-height: 1080px;
$cen1-sujo-total-width: 7683px;
$cen1-sujo-total-height: 5405px;
$cen1-sujo-image: '~@/assets/spritesheet.png';
$cen1-sujo: (5763px, 2161px, -5763px, -2161px, 1920px, 1080px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cen1-Sujo', );
$cen2-horta-name: 'cen2-Horta';
$cen2-horta-x: 0px;
$cen2-horta-y: 0px;
$cen2-horta-offset-x: 0px;
$cen2-horta-offset-y: 0px;
$cen2-horta-width: 1921px;
$cen2-horta-height: 1081px;
$cen2-horta-total-width: 7683px;
$cen2-horta-total-height: 5405px;
$cen2-horta-image: '~@/assets/spritesheet.png';
$cen2-horta: (0px, 0px, 0px, 0px, 1921px, 1081px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cen2-Horta', );
$cen3-cozinha-name: 'cen3-cozinha';
$cen3-cozinha-x: 1921px;
$cen3-cozinha-y: 0px;
$cen3-cozinha-offset-x: -1921px;
$cen3-cozinha-offset-y: 0px;
$cen3-cozinha-width: 1921px;
$cen3-cozinha-height: 1081px;
$cen3-cozinha-total-width: 7683px;
$cen3-cozinha-total-height: 5405px;
$cen3-cozinha-image: '~@/assets/spritesheet.png';
$cen3-cozinha: (1921px, 0px, -1921px, 0px, 1921px, 1081px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cen3-cozinha', );
$cenario-7erros-name: 'cenario_7erros';
$cenario-7erros-x: 0px;
$cenario-7erros-y: 1081px;
$cenario-7erros-offset-x: 0px;
$cenario-7erros-offset-y: -1081px;
$cenario-7erros-width: 1921px;
$cenario-7erros-height: 1081px;
$cenario-7erros-total-width: 7683px;
$cenario-7erros-total-height: 5405px;
$cenario-7erros-image: '~@/assets/spritesheet.png';
$cenario-7erros: (0px, 1081px, 0px, -1081px, 1921px, 1081px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cenario_7erros', );
$cenario-inovacao2-name: 'cenario_inovacao2';
$cenario-inovacao2-x: 1921px;
$cenario-inovacao2-y: 1081px;
$cenario-inovacao2-offset-x: -1921px;
$cenario-inovacao2-offset-y: -1081px;
$cenario-inovacao2-width: 1921px;
$cenario-inovacao2-height: 1081px;
$cenario-inovacao2-total-width: 7683px;
$cenario-inovacao2-total-height: 5405px;
$cenario-inovacao2-image: '~@/assets/spritesheet.png';
$cenario-inovacao2: (1921px, 1081px, -1921px, -1081px, 1921px, 1081px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cenario_inovacao2', );
$cenario-mapacpeca-name: 'cenario_mapacpeca';
$cenario-mapacpeca-x: 0px;
$cenario-mapacpeca-y: 2162px;
$cenario-mapacpeca-offset-x: 0px;
$cenario-mapacpeca-offset-y: -2162px;
$cenario-mapacpeca-width: 1921px;
$cenario-mapacpeca-height: 1081px;
$cenario-mapacpeca-total-width: 7683px;
$cenario-mapacpeca-total-height: 5405px;
$cenario-mapacpeca-image: '~@/assets/spritesheet.png';
$cenario-mapacpeca: (0px, 2162px, 0px, -2162px, 1921px, 1081px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cenario_mapacpeca', );
$cenario-mapaspeca-name: 'cenario_mapaspeca';
$cenario-mapaspeca-x: 1921px;
$cenario-mapaspeca-y: 2162px;
$cenario-mapaspeca-offset-x: -1921px;
$cenario-mapaspeca-offset-y: -2162px;
$cenario-mapaspeca-width: 1921px;
$cenario-mapaspeca-height: 1081px;
$cenario-mapaspeca-total-width: 7683px;
$cenario-mapaspeca-total-height: 5405px;
$cenario-mapaspeca-image: '~@/assets/spritesheet.png';
$cenario-mapaspeca: (1921px, 2162px, -1921px, -2162px, 1921px, 1081px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cenario_mapaspeca', );
$cenario1-governo-name: 'cenario1_governo';
$cenario1-governo-x: 3842px;
$cenario1-governo-y: 0px;
$cenario1-governo-offset-x: -3842px;
$cenario1-governo-offset-y: 0px;
$cenario1-governo-width: 1921px;
$cenario1-governo-height: 1081px;
$cenario1-governo-total-width: 7683px;
$cenario1-governo-total-height: 5405px;
$cenario1-governo-image: '~@/assets/spritesheet.png';
$cenario1-governo: (3842px, 0px, -3842px, 0px, 1921px, 1081px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cenario1_governo', );
$cenarioalimentacao-name: 'cenarioalimentacao';
$cenarioalimentacao-x: 5763px;
$cenarioalimentacao-y: 3241px;
$cenarioalimentacao-offset-x: -5763px;
$cenarioalimentacao-offset-y: -3241px;
$cenarioalimentacao-width: 1920px;
$cenarioalimentacao-height: 1080px;
$cenarioalimentacao-total-width: 7683px;
$cenarioalimentacao-total-height: 5405px;
$cenarioalimentacao-image: '~@/assets/spritesheet.png';
$cenarioalimentacao: (5763px, 3241px, -5763px, -3241px, 1920px, 1080px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cenarioalimentacao', );
$cenariocarrinho-inovacao-name: 'cenariocarrinho_inovacao';
$cenariocarrinho-inovacao-x: 3842px;
$cenariocarrinho-inovacao-y: 1081px;
$cenariocarrinho-inovacao-offset-x: -3842px;
$cenariocarrinho-inovacao-offset-y: -1081px;
$cenariocarrinho-inovacao-width: 1921px;
$cenariocarrinho-inovacao-height: 1081px;
$cenariocarrinho-inovacao-total-width: 7683px;
$cenariocarrinho-inovacao-total-height: 5405px;
$cenariocarrinho-inovacao-image: '~@/assets/spritesheet.png';
$cenariocarrinho-inovacao: (3842px, 1081px, -3842px, -1081px, 1921px, 1081px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cenariocarrinho_inovacao', );
$cenarioescola-dentro-name: 'cenarioescola_dentro';
$cenarioescola-dentro-x: 3842px;
$cenarioescola-dentro-y: 2162px;
$cenarioescola-dentro-offset-x: -3842px;
$cenarioescola-dentro-offset-y: -2162px;
$cenarioescola-dentro-width: 1921px;
$cenarioescola-dentro-height: 1081px;
$cenarioescola-dentro-total-width: 7683px;
$cenarioescola-dentro-total-height: 5405px;
$cenarioescola-dentro-image: '~@/assets/spritesheet.png';
$cenarioescola-dentro: (3842px, 2162px, -3842px, -2162px, 1921px, 1081px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cenarioescola_dentro', );
$cenarioescola-fora-name: 'cenarioescola_fora';
$cenarioescola-fora-x: 0px;
$cenarioescola-fora-y: 3243px;
$cenarioescola-fora-offset-x: 0px;
$cenarioescola-fora-offset-y: -3243px;
$cenarioescola-fora-width: 1921px;
$cenarioescola-fora-height: 1081px;
$cenarioescola-fora-total-width: 7683px;
$cenarioescola-fora-total-height: 5405px;
$cenarioescola-fora-image: '~@/assets/spritesheet.png';
$cenarioescola-fora: (0px, 3243px, 0px, -3243px, 1921px, 1081px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cenarioescola_fora', );
$cenariogoverno-ong-name: 'cenariogoverno_ong';
$cenariogoverno-ong-x: 1921px;
$cenariogoverno-ong-y: 3243px;
$cenariogoverno-ong-offset-x: -1921px;
$cenariogoverno-ong-offset-y: -3243px;
$cenariogoverno-ong-width: 1921px;
$cenariogoverno-ong-height: 1081px;
$cenariogoverno-ong-total-width: 7683px;
$cenariogoverno-ong-total-height: 5405px;
$cenariogoverno-ong-image: '~@/assets/spritesheet.png';
$cenariogoverno-ong: (1921px, 3243px, -1921px, -3243px, 1921px, 1081px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cenariogoverno_ong', );
$cenariogoverno-radio-name: 'cenariogoverno_radio';
$cenariogoverno-radio-x: 3842px;
$cenariogoverno-radio-y: 3243px;
$cenariogoverno-radio-offset-x: -3842px;
$cenariogoverno-radio-offset-y: -3243px;
$cenariogoverno-radio-width: 1921px;
$cenariogoverno-radio-height: 1081px;
$cenariogoverno-radio-total-width: 7683px;
$cenariogoverno-radio-total-height: 5405px;
$cenariogoverno-radio-image: '~@/assets/spritesheet.png';
$cenariogoverno-radio: (3842px, 3243px, -3842px, -3243px, 1921px, 1081px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cenariogoverno_radio', );
$cenariogoverno-radio3-name: 'cenariogoverno_radio3';
$cenariogoverno-radio3-x: 0px;
$cenariogoverno-radio3-y: 4324px;
$cenariogoverno-radio3-offset-x: 0px;
$cenariogoverno-radio3-offset-y: -4324px;
$cenariogoverno-radio3-width: 1921px;
$cenariogoverno-radio3-height: 1081px;
$cenariogoverno-radio3-total-width: 7683px;
$cenariogoverno-radio3-total-height: 5405px;
$cenariogoverno-radio3-image: '~@/assets/spritesheet.png';
$cenariogoverno-radio3: (0px, 4324px, 0px, -4324px, 1921px, 1081px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cenariogoverno_radio3', );
$cenarioprefeitura-governo-name: 'cenarioprefeitura_governo';
$cenarioprefeitura-governo-x: 1921px;
$cenarioprefeitura-governo-y: 4324px;
$cenarioprefeitura-governo-offset-x: -1921px;
$cenarioprefeitura-governo-offset-y: -4324px;
$cenarioprefeitura-governo-width: 1921px;
$cenarioprefeitura-governo-height: 1081px;
$cenarioprefeitura-governo-total-width: 7683px;
$cenarioprefeitura-governo-total-height: 5405px;
$cenarioprefeitura-governo-image: '~@/assets/spritesheet.png';
$cenarioprefeitura-governo: (1921px, 4324px, -1921px, -4324px, 1921px, 1081px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cenarioprefeitura_governo', );
$cenariosala-name: 'cenariosala';
$cenariosala-x: 3842px;
$cenariosala-y: 4324px;
$cenariosala-offset-x: -3842px;
$cenariosala-offset-y: -4324px;
$cenariosala-width: 1921px;
$cenariosala-height: 1081px;
$cenariosala-total-width: 7683px;
$cenariosala-total-height: 5405px;
$cenariosala-image: '~@/assets/spritesheet.png';
$cenariosala: (3842px, 4324px, -3842px, -4324px, 1921px, 1081px, 7683px, 5405px, '~@/assets/spritesheet.png', 'cenariosala', );
$btn-start-name: 'btn-start';
$btn-start-x: 7058px;
$btn-start-y: 4321px;
$btn-start-offset-x: -7058px;
$btn-start-offset-y: -4321px;
$btn-start-width: 452px;
$btn-start-height: 129px;
$btn-start-total-width: 7683px;
$btn-start-total-height: 5405px;
$btn-start-image: '~@/assets/spritesheet.png';
$btn-start: (7058px, 4321px, -7058px, -4321px, 452px, 129px, 7683px, 5405px, '~@/assets/spritesheet.png', 'btn-start', );
$logo-jogo-name: 'logo-jogo';
$logo-jogo-x: 5763px;
$logo-jogo-y: 4321px;
$logo-jogo-offset-x: -5763px;
$logo-jogo-offset-y: -4321px;
$logo-jogo-width: 868px;
$logo-jogo-height: 430px;
$logo-jogo-total-width: 7683px;
$logo-jogo-total-height: 5405px;
$logo-jogo-image: '~@/assets/spritesheet.png';
$logo-jogo: (5763px, 4321px, -5763px, -4321px, 868px, 430px, 7683px, 5405px, '~@/assets/spritesheet.png', 'logo-jogo', );
$counter-name: 'counter';
$counter-x: 6631px;
$counter-y: 4321px;
$counter-offset-x: -6631px;
$counter-offset-y: -4321px;
$counter-width: 427px;
$counter-height: 146px;
$counter-total-width: 7683px;
$counter-total-height: 5405px;
$counter-image: '~@/assets/spritesheet.png';
$counter: (6631px, 4321px, -6631px, -4321px, 427px, 146px, 7683px, 5405px, '~@/assets/spritesheet.png', 'counter', );
$logoceara2050-name: 'logoceara2050';
$logoceara2050-x: 6631px;
$logoceara2050-y: 4467px;
$logoceara2050-offset-x: -6631px;
$logoceara2050-offset-y: -4467px;
$logoceara2050-width: 251px;
$logoceara2050-height: 86px;
$logoceara2050-total-width: 7683px;
$logoceara2050-total-height: 5405px;
$logoceara2050-image: '~@/assets/spritesheet.png';
$logoceara2050: (6631px, 4467px, -6631px, -4467px, 251px, 86px, 7683px, 5405px, '~@/assets/spritesheet.png', 'logoceara2050', );
$spritesheet-width: 7683px;
$spritesheet-height: 5405px;
$spritesheet-image: '~@/assets/spritesheet.png';
$spritesheet-sprites: ($bebedourocenario, $bg-menu, $cen1-sujo, $cen2-horta, $cen3-cozinha, $cenario-7erros, $cenario-inovacao2, $cenario-mapacpeca, $cenario-mapaspeca, $cenario1-governo, $cenarioalimentacao, $cenariocarrinho-inovacao, $cenarioescola-dentro, $cenarioescola-fora, $cenariogoverno-ong, $cenariogoverno-radio, $cenariogoverno-radio3, $cenarioprefeitura-governo, $cenariosala, $btn-start, $logo-jogo, $counter, $logoceara2050, );
$spritesheet: (7683px, 5405px, '~@/assets/spritesheet.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
