// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bg-bebedouro-name: 'bg-bebedouro';
$bg-bebedouro-x: 5778px;
$bg-bebedouro-y: 1086px;
$bg-bebedouro-offset-x: -5778px;
$bg-bebedouro-offset-y: -1086px;
$bg-bebedouro-width: 1920px;
$bg-bebedouro-height: 1080px;
$bg-bebedouro-total-width: 7698px;
$bg-bebedouro-total-height: 6258px;
$bg-bebedouro-image: '~@/assets/spritesheet.png';
$bg-bebedouro: (5778px, 1086px, -5778px, -1086px, 1920px, 1080px, 7698px, 6258px, '~@/assets/spritesheet.png', 'bg-bebedouro', );
$bg-cenario-sala-name: 'bg-cenario-sala';
$bg-cenario-sala-x: 3852px;
$bg-cenario-sala-y: 4344px;
$bg-cenario-sala-offset-x: -3852px;
$bg-cenario-sala-offset-y: -4344px;
$bg-cenario-sala-width: 1921px;
$bg-cenario-sala-height: 1081px;
$bg-cenario-sala-total-width: 7698px;
$bg-cenario-sala-total-height: 6258px;
$bg-cenario-sala-image: '~@/assets/spritesheet.png';
$bg-cenario-sala: (3852px, 4344px, -3852px, -4344px, 1921px, 1081px, 7698px, 6258px, '~@/assets/spritesheet.png', 'bg-cenario-sala', );
$bg-chao-sujo-name: 'bg-chao-sujo';
$bg-chao-sujo-x: 5778px;
$bg-chao-sujo-y: 3256px;
$bg-chao-sujo-offset-x: -5778px;
$bg-chao-sujo-offset-y: -3256px;
$bg-chao-sujo-width: 1920px;
$bg-chao-sujo-height: 1080px;
$bg-chao-sujo-total-width: 7698px;
$bg-chao-sujo-total-height: 6258px;
$bg-chao-sujo-image: '~@/assets/spritesheet.png';
$bg-chao-sujo: (5778px, 3256px, -5778px, -3256px, 1920px, 1080px, 7698px, 6258px, '~@/assets/spritesheet.png', 'bg-chao-sujo', );
$bg-cozinha-name: 'bg-cozinha';
$bg-cozinha-x: 3852px;
$bg-cozinha-y: 2172px;
$bg-cozinha-offset-x: -3852px;
$bg-cozinha-offset-y: -2172px;
$bg-cozinha-width: 1921px;
$bg-cozinha-height: 1081px;
$bg-cozinha-total-width: 7698px;
$bg-cozinha-total-height: 6258px;
$bg-cozinha-image: '~@/assets/spritesheet.png';
$bg-cozinha: (3852px, 2172px, -3852px, -2172px, 1921px, 1081px, 7698px, 6258px, '~@/assets/spritesheet.png', 'bg-cozinha', );
$bg-horta-name: 'bg-horta';
$bg-horta-x: 0px;
$bg-horta-y: 1086px;
$bg-horta-offset-x: 0px;
$bg-horta-offset-y: -1086px;
$bg-horta-width: 1921px;
$bg-horta-height: 1081px;
$bg-horta-total-width: 7698px;
$bg-horta-total-height: 6258px;
$bg-horta-image: '~@/assets/spritesheet.png';
$bg-horta: (0px, 1086px, 0px, -1086px, 1921px, 1081px, 7698px, 6258px, '~@/assets/spritesheet.png', 'bg-horta', );
$bg-menu-name: 'bg-menu';
$bg-menu-x: 5778px;
$bg-menu-y: 0px;
$bg-menu-offset-x: -5778px;
$bg-menu-offset-y: 0px;
$bg-menu-width: 1920px;
$bg-menu-height: 1081px;
$bg-menu-total-width: 7698px;
$bg-menu-total-height: 6258px;
$bg-menu-image: '~@/assets/spritesheet.png';
$bg-menu: (5778px, 0px, -5778px, 0px, 1920px, 1081px, 7698px, 6258px, '~@/assets/spritesheet.png', 'bg-menu', );
$bg-sete-erros-name: 'bg-sete-erros';
$bg-sete-erros-x: 0px;
$bg-sete-erros-y: 2172px;
$bg-sete-erros-offset-x: 0px;
$bg-sete-erros-offset-y: -2172px;
$bg-sete-erros-width: 1921px;
$bg-sete-erros-height: 1081px;
$bg-sete-erros-total-width: 7698px;
$bg-sete-erros-total-height: 6258px;
$bg-sete-erros-image: '~@/assets/spritesheet.png';
$bg-sete-erros: (0px, 2172px, 0px, -2172px, 1921px, 1081px, 7698px, 6258px, '~@/assets/spritesheet.png', 'bg-sete-erros', );
$cenario-inovacao2-name: 'cenario_inovacao2';
$cenario-inovacao2-x: 1926px;
$cenario-inovacao2-y: 2172px;
$cenario-inovacao2-offset-x: -1926px;
$cenario-inovacao2-offset-y: -2172px;
$cenario-inovacao2-width: 1921px;
$cenario-inovacao2-height: 1081px;
$cenario-inovacao2-total-width: 7698px;
$cenario-inovacao2-total-height: 6258px;
$cenario-inovacao2-image: '~@/assets/spritesheet.png';
$cenario-inovacao2: (1926px, 2172px, -1926px, -2172px, 1921px, 1081px, 7698px, 6258px, '~@/assets/spritesheet.png', 'cenario_inovacao2', );
$cenario-mapacpeca-name: 'cenario_mapacpeca';
$cenario-mapacpeca-x: 3852px;
$cenario-mapacpeca-y: 0px;
$cenario-mapacpeca-offset-x: -3852px;
$cenario-mapacpeca-offset-y: 0px;
$cenario-mapacpeca-width: 1921px;
$cenario-mapacpeca-height: 1081px;
$cenario-mapacpeca-total-width: 7698px;
$cenario-mapacpeca-total-height: 6258px;
$cenario-mapacpeca-image: '~@/assets/spritesheet.png';
$cenario-mapacpeca: (3852px, 0px, -3852px, 0px, 1921px, 1081px, 7698px, 6258px, '~@/assets/spritesheet.png', 'cenario_mapacpeca', );
$cenario-mapaspeca-name: 'cenario_mapaspeca';
$cenario-mapaspeca-x: 3852px;
$cenario-mapaspeca-y: 1086px;
$cenario-mapaspeca-offset-x: -3852px;
$cenario-mapaspeca-offset-y: -1086px;
$cenario-mapaspeca-width: 1921px;
$cenario-mapaspeca-height: 1081px;
$cenario-mapaspeca-total-width: 7698px;
$cenario-mapaspeca-total-height: 6258px;
$cenario-mapaspeca-image: '~@/assets/spritesheet.png';
$cenario-mapaspeca: (3852px, 1086px, -3852px, -1086px, 1921px, 1081px, 7698px, 6258px, '~@/assets/spritesheet.png', 'cenario_mapaspeca', );
$cenario1-governo-name: 'cenario1_governo';
$cenario1-governo-x: 0px;
$cenario1-governo-y: 0px;
$cenario1-governo-offset-x: 0px;
$cenario1-governo-offset-y: 0px;
$cenario1-governo-width: 1921px;
$cenario1-governo-height: 1081px;
$cenario1-governo-total-width: 7698px;
$cenario1-governo-total-height: 6258px;
$cenario1-governo-image: '~@/assets/spritesheet.png';
$cenario1-governo: (0px, 0px, 0px, 0px, 1921px, 1081px, 7698px, 6258px, '~@/assets/spritesheet.png', 'cenario1_governo', );
$cenarioalimentacao-name: 'cenarioalimentacao';
$cenarioalimentacao-x: 5778px;
$cenarioalimentacao-y: 2171px;
$cenarioalimentacao-offset-x: -5778px;
$cenarioalimentacao-offset-y: -2171px;
$cenarioalimentacao-width: 1920px;
$cenarioalimentacao-height: 1080px;
$cenarioalimentacao-total-width: 7698px;
$cenarioalimentacao-total-height: 6258px;
$cenarioalimentacao-image: '~@/assets/spritesheet.png';
$cenarioalimentacao: (5778px, 2171px, -5778px, -2171px, 1920px, 1080px, 7698px, 6258px, '~@/assets/spritesheet.png', 'cenarioalimentacao', );
$cenariocarrinho-inovacao-name: 'cenariocarrinho_inovacao';
$cenariocarrinho-inovacao-x: 0px;
$cenariocarrinho-inovacao-y: 3258px;
$cenariocarrinho-inovacao-offset-x: 0px;
$cenariocarrinho-inovacao-offset-y: -3258px;
$cenariocarrinho-inovacao-width: 1921px;
$cenariocarrinho-inovacao-height: 1081px;
$cenariocarrinho-inovacao-total-width: 7698px;
$cenariocarrinho-inovacao-total-height: 6258px;
$cenariocarrinho-inovacao-image: '~@/assets/spritesheet.png';
$cenariocarrinho-inovacao: (0px, 3258px, 0px, -3258px, 1921px, 1081px, 7698px, 6258px, '~@/assets/spritesheet.png', 'cenariocarrinho_inovacao', );
$cenarioescola-dentro-name: 'cenarioescola_dentro';
$cenarioescola-dentro-x: 1926px;
$cenarioescola-dentro-y: 3258px;
$cenarioescola-dentro-offset-x: -1926px;
$cenarioescola-dentro-offset-y: -3258px;
$cenarioescola-dentro-width: 1921px;
$cenarioescola-dentro-height: 1081px;
$cenarioescola-dentro-total-width: 7698px;
$cenarioescola-dentro-total-height: 6258px;
$cenarioescola-dentro-image: '~@/assets/spritesheet.png';
$cenarioescola-dentro: (1926px, 3258px, -1926px, -3258px, 1921px, 1081px, 7698px, 6258px, '~@/assets/spritesheet.png', 'cenarioescola_dentro', );
$cenarioescola-fora-name: 'cenarioescola_fora';
$cenarioescola-fora-x: 3852px;
$cenarioescola-fora-y: 3258px;
$cenarioescola-fora-offset-x: -3852px;
$cenarioescola-fora-offset-y: -3258px;
$cenarioescola-fora-width: 1921px;
$cenarioescola-fora-height: 1081px;
$cenarioescola-fora-total-width: 7698px;
$cenarioescola-fora-total-height: 6258px;
$cenarioescola-fora-image: '~@/assets/spritesheet.png';
$cenarioescola-fora: (3852px, 3258px, -3852px, -3258px, 1921px, 1081px, 7698px, 6258px, '~@/assets/spritesheet.png', 'cenarioescola_fora', );
$cenariogoverno-ong-name: 'cenariogoverno_ong';
$cenariogoverno-ong-x: 0px;
$cenariogoverno-ong-y: 4344px;
$cenariogoverno-ong-offset-x: 0px;
$cenariogoverno-ong-offset-y: -4344px;
$cenariogoverno-ong-width: 1921px;
$cenariogoverno-ong-height: 1081px;
$cenariogoverno-ong-total-width: 7698px;
$cenariogoverno-ong-total-height: 6258px;
$cenariogoverno-ong-image: '~@/assets/spritesheet.png';
$cenariogoverno-ong: (0px, 4344px, 0px, -4344px, 1921px, 1081px, 7698px, 6258px, '~@/assets/spritesheet.png', 'cenariogoverno_ong', );
$cenariogoverno-radio-name: 'cenariogoverno_radio';
$cenariogoverno-radio-x: 1926px;
$cenariogoverno-radio-y: 0px;
$cenariogoverno-radio-offset-x: -1926px;
$cenariogoverno-radio-offset-y: 0px;
$cenariogoverno-radio-width: 1921px;
$cenariogoverno-radio-height: 1081px;
$cenariogoverno-radio-total-width: 7698px;
$cenariogoverno-radio-total-height: 6258px;
$cenariogoverno-radio-image: '~@/assets/spritesheet.png';
$cenariogoverno-radio: (1926px, 0px, -1926px, 0px, 1921px, 1081px, 7698px, 6258px, '~@/assets/spritesheet.png', 'cenariogoverno_radio', );
$cenariogoverno-radio3-name: 'cenariogoverno_radio3';
$cenariogoverno-radio3-x: 1926px;
$cenariogoverno-radio3-y: 4344px;
$cenariogoverno-radio3-offset-x: -1926px;
$cenariogoverno-radio3-offset-y: -4344px;
$cenariogoverno-radio3-width: 1921px;
$cenariogoverno-radio3-height: 1081px;
$cenariogoverno-radio3-total-width: 7698px;
$cenariogoverno-radio3-total-height: 6258px;
$cenariogoverno-radio3-image: '~@/assets/spritesheet.png';
$cenariogoverno-radio3: (1926px, 4344px, -1926px, -4344px, 1921px, 1081px, 7698px, 6258px, '~@/assets/spritesheet.png', 'cenariogoverno_radio3', );
$cenarioprefeitura-governo-name: 'cenarioprefeitura_governo';
$cenarioprefeitura-governo-x: 1926px;
$cenarioprefeitura-governo-y: 1086px;
$cenarioprefeitura-governo-offset-x: -1926px;
$cenarioprefeitura-governo-offset-y: -1086px;
$cenarioprefeitura-governo-width: 1921px;
$cenarioprefeitura-governo-height: 1081px;
$cenarioprefeitura-governo-total-width: 7698px;
$cenarioprefeitura-governo-total-height: 6258px;
$cenarioprefeitura-governo-image: '~@/assets/spritesheet.png';
$cenarioprefeitura-governo: (1926px, 1086px, -1926px, -1086px, 1921px, 1081px, 7698px, 6258px, '~@/assets/spritesheet.png', 'cenarioprefeitura_governo', );
$balloon-comment-name: 'balloon-comment';
$balloon-comment-x: 0px;
$balloon-comment-y: 5430px;
$balloon-comment-offset-x: 0px;
$balloon-comment-offset-y: -5430px;
$balloon-comment-width: 958px;
$balloon-comment-height: 393px;
$balloon-comment-total-width: 7698px;
$balloon-comment-total-height: 6258px;
$balloon-comment-image: '~@/assets/spritesheet.png';
$balloon-comment: (0px, 5430px, 0px, -5430px, 958px, 393px, 7698px, 6258px, '~@/assets/spritesheet.png', 'balloon-comment', );
$box-comment-name: 'box-comment';
$box-comment-x: 5778px;
$box-comment-y: 4341px;
$box-comment-offset-x: -5778px;
$box-comment-offset-y: -4341px;
$box-comment-width: 1713px;
$box-comment-height: 836px;
$box-comment-total-width: 7698px;
$box-comment-total-height: 6258px;
$box-comment-image: '~@/assets/spritesheet.png';
$box-comment: (5778px, 4341px, -5778px, -4341px, 1713px, 836px, 7698px, 6258px, '~@/assets/spritesheet.png', 'box-comment', );
$btn-action-blue-name: 'btn-action-blue';
$btn-action-blue-x: 963px;
$btn-action-blue-y: 5574px;
$btn-action-blue-offset-x: -963px;
$btn-action-blue-offset-y: -5574px;
$btn-action-blue-width: 500px;
$btn-action-blue-height: 181px;
$btn-action-blue-total-width: 7698px;
$btn-action-blue-total-height: 6258px;
$btn-action-blue-image: '~@/assets/spritesheet.png';
$btn-action-blue: (963px, 5574px, -963px, -5574px, 500px, 181px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-action-blue', );
$btn-action-orange-name: 'btn-action-orange';
$btn-action-orange-x: 1468px;
$btn-action-orange-y: 5574px;
$btn-action-orange-offset-x: -1468px;
$btn-action-orange-offset-y: -5574px;
$btn-action-orange-width: 500px;
$btn-action-orange-height: 181px;
$btn-action-orange-total-width: 7698px;
$btn-action-orange-total-height: 6258px;
$btn-action-orange-image: '~@/assets/spritesheet.png';
$btn-action-orange: (1468px, 5574px, -1468px, -5574px, 500px, 181px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-action-orange', );
$btn-action-white-name: 'btn-action-white';
$btn-action-white-x: 6878px;
$btn-action-white-y: 5182px;
$btn-action-white-offset-x: -6878px;
$btn-action-white-offset-y: -5182px;
$btn-action-white-width: 500px;
$btn-action-white-height: 181px;
$btn-action-white-total-width: 7698px;
$btn-action-white-total-height: 6258px;
$btn-action-white-image: '~@/assets/spritesheet.png';
$btn-action-white: (6878px, 5182px, -6878px, -5182px, 500px, 181px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-action-white', );
$btn-btinfo-mouseover-name: 'btn-btinfo_mouseover';
$btn-btinfo-mouseover-x: 2718px;
$btn-btinfo-mouseover-y: 5828px;
$btn-btinfo-mouseover-offset-x: -2718px;
$btn-btinfo-mouseover-offset-y: -5828px;
$btn-btinfo-mouseover-width: 200px;
$btn-btinfo-mouseover-height: 200px;
$btn-btinfo-mouseover-total-width: 7698px;
$btn-btinfo-mouseover-total-height: 6258px;
$btn-btinfo-mouseover-image: '~@/assets/spritesheet.png';
$btn-btinfo-mouseover: (2718px, 5828px, -2718px, -5828px, 200px, 200px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-btinfo_mouseover', );
$btn-btmusic-mouseover-name: 'btn-btmusic_mouseover';
$btn-btmusic-mouseover-x: 3333px;
$btn-btmusic-mouseover-y: 5828px;
$btn-btmusic-mouseover-offset-x: -3333px;
$btn-btmusic-mouseover-offset-y: -5828px;
$btn-btmusic-mouseover-width: 200px;
$btn-btmusic-mouseover-height: 200px;
$btn-btmusic-mouseover-total-width: 7698px;
$btn-btmusic-mouseover-total-height: 6258px;
$btn-btmusic-mouseover-image: '~@/assets/spritesheet.png';
$btn-btmusic-mouseover: (3333px, 5828px, -3333px, -5828px, 200px, 200px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-btmusic_mouseover', );
$btn-btmusicoff-ativo-name: 'btn-btmusicoff_ativo';
$btn-btmusicoff-ativo-x: 3538px;
$btn-btmusicoff-ativo-y: 5828px;
$btn-btmusicoff-ativo-offset-x: -3538px;
$btn-btmusicoff-ativo-offset-y: -5828px;
$btn-btmusicoff-ativo-width: 200px;
$btn-btmusicoff-ativo-height: 200px;
$btn-btmusicoff-ativo-total-width: 7698px;
$btn-btmusicoff-ativo-total-height: 6258px;
$btn-btmusicoff-ativo-image: '~@/assets/spritesheet.png';
$btn-btmusicoff-ativo: (3538px, 5828px, -3538px, -5828px, 200px, 200px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-btmusicoff_ativo', );
$btn-btrepetirinativo-name: 'btn-btrepetirinativo_';
$btn-btrepetirinativo-x: 1078px;
$btn-btrepetirinativo-y: 5828px;
$btn-btrepetirinativo-offset-x: -1078px;
$btn-btrepetirinativo-offset-y: -5828px;
$btn-btrepetirinativo-width: 200px;
$btn-btrepetirinativo-height: 200px;
$btn-btrepetirinativo-total-width: 7698px;
$btn-btrepetirinativo-total-height: 6258px;
$btn-btrepetirinativo-image: '~@/assets/spritesheet.png';
$btn-btrepetirinativo-: (1078px, 5828px, -1078px, -5828px, 200px, 200px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-btrepetirinativo_', );
$btn-op-no-name: 'btn-op-no';
$btn-op-no-x: 2396px;
$btn-op-no-y: 5430px;
$btn-op-no-offset-x: -2396px;
$btn-op-no-offset-y: -5430px;
$btn-op-no-width: 217px;
$btn-op-no-height: 123px;
$btn-op-no-total-width: 7698px;
$btn-op-no-total-height: 6258px;
$btn-op-no-image: '~@/assets/spritesheet.png';
$btn-op-no: (2396px, 5430px, -2396px, -5430px, 217px, 123px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-op-no', );
$btn-op-yes-name: 'btn-op-yes';
$btn-op-yes-x: 7383px;
$btn-op-yes-y: 5182px;
$btn-op-yes-offset-x: -7383px;
$btn-op-yes-offset-y: -5182px;
$btn-op-yes-width: 217px;
$btn-op-yes-height: 124px;
$btn-op-yes-total-width: 7698px;
$btn-op-yes-total-height: 6258px;
$btn-op-yes-image: '~@/assets/spritesheet.png';
$btn-op-yes: (7383px, 5182px, -7383px, -5182px, 217px, 124px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-op-yes', );
$btn-start-name: 'btn-start';
$btn-start-x: 1939px;
$btn-start-y: 5430px;
$btn-start-offset-x: -1939px;
$btn-start-offset-y: -5430px;
$btn-start-width: 452px;
$btn-start-height: 129px;
$btn-start-total-width: 7698px;
$btn-start-total-height: 6258px;
$btn-start-image: '~@/assets/spritesheet.png';
$btn-start: (1939px, 5430px, -1939px, -5430px, 452px, 129px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-start', );
$btn-toggle-arrow-p-name: 'btn-toggle-arrow-p';
$btn-toggle-arrow-p-x: 7496px;
$btn-toggle-arrow-p-y: 4753px;
$btn-toggle-arrow-p-offset-x: -7496px;
$btn-toggle-arrow-p-offset-y: -4753px;
$btn-toggle-arrow-p-width: 200px;
$btn-toggle-arrow-p-height: 200px;
$btn-toggle-arrow-p-total-width: 7698px;
$btn-toggle-arrow-p-total-height: 6258px;
$btn-toggle-arrow-p-image: '~@/assets/spritesheet.png';
$btn-toggle-arrow-p: (7496px, 4753px, -7496px, -4753px, 200px, 200px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-toggle-arrow-p', );
$btn-toggle-arrow-name: 'btn-toggle-arrow';
$btn-toggle-arrow-x: 7496px;
$btn-toggle-arrow-y: 4958px;
$btn-toggle-arrow-offset-x: -7496px;
$btn-toggle-arrow-offset-y: -4958px;
$btn-toggle-arrow-width: 200px;
$btn-toggle-arrow-height: 200px;
$btn-toggle-arrow-total-width: 7698px;
$btn-toggle-arrow-total-height: 6258px;
$btn-toggle-arrow-image: '~@/assets/spritesheet.png';
$btn-toggle-arrow: (7496px, 4958px, -7496px, -4958px, 200px, 200px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-toggle-arrow', );
$btn-toggle-close-name: 'btn-toggle-close';
$btn-toggle-close-x: 873px;
$btn-toggle-close-y: 5828px;
$btn-toggle-close-offset-x: -873px;
$btn-toggle-close-offset-y: -5828px;
$btn-toggle-close-width: 200px;
$btn-toggle-close-height: 200px;
$btn-toggle-close-total-width: 7698px;
$btn-toggle-close-total-height: 6258px;
$btn-toggle-close-image: '~@/assets/spritesheet.png';
$btn-toggle-close: (873px, 5828px, -873px, -5828px, 200px, 200px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-toggle-close', );
$btn-toggle-download-name: 'btn-toggle-download';
$btn-toggle-download-x: 7496px;
$btn-toggle-download-y: 4341px;
$btn-toggle-download-offset-x: -7496px;
$btn-toggle-download-offset-y: -4341px;
$btn-toggle-download-width: 200px;
$btn-toggle-download-height: 201px;
$btn-toggle-download-total-width: 7698px;
$btn-toggle-download-total-height: 6258px;
$btn-toggle-download-image: '~@/assets/spritesheet.png';
$btn-toggle-download: (7496px, 4341px, -7496px, -4341px, 200px, 201px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-toggle-download', );
$btn-toggle-home-name: 'btn-toggle-home';
$btn-toggle-home-x: 1283px;
$btn-toggle-home-y: 5828px;
$btn-toggle-home-offset-x: -1283px;
$btn-toggle-home-offset-y: -5828px;
$btn-toggle-home-width: 200px;
$btn-toggle-home-height: 200px;
$btn-toggle-home-total-width: 7698px;
$btn-toggle-home-total-height: 6258px;
$btn-toggle-home-image: '~@/assets/spritesheet.png';
$btn-toggle-home: (1283px, 5828px, -1283px, -5828px, 200px, 200px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-toggle-home', );
$btn-toggle-info-name: 'btn-toggle-info';
$btn-toggle-info-x: 1488px;
$btn-toggle-info-y: 5828px;
$btn-toggle-info-offset-x: -1488px;
$btn-toggle-info-offset-y: -5828px;
$btn-toggle-info-width: 200px;
$btn-toggle-info-height: 200px;
$btn-toggle-info-total-width: 7698px;
$btn-toggle-info-total-height: 6258px;
$btn-toggle-info-image: '~@/assets/spritesheet.png';
$btn-toggle-info: (1488px, 5828px, -1488px, -5828px, 200px, 200px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-toggle-info', );
$btn-toggle-mute-name: 'btn-toggle-mute';
$btn-toggle-mute-x: 1693px;
$btn-toggle-mute-y: 5828px;
$btn-toggle-mute-offset-x: -1693px;
$btn-toggle-mute-offset-y: -5828px;
$btn-toggle-mute-width: 200px;
$btn-toggle-mute-height: 200px;
$btn-toggle-mute-total-width: 7698px;
$btn-toggle-mute-total-height: 6258px;
$btn-toggle-mute-image: '~@/assets/spritesheet.png';
$btn-toggle-mute: (1693px, 5828px, -1693px, -5828px, 200px, 200px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-toggle-mute', );
$btn-toggle-next-name: 'btn-toggle-next';
$btn-toggle-next-x: 1898px;
$btn-toggle-next-y: 5828px;
$btn-toggle-next-offset-x: -1898px;
$btn-toggle-next-offset-y: -5828px;
$btn-toggle-next-width: 200px;
$btn-toggle-next-height: 200px;
$btn-toggle-next-total-width: 7698px;
$btn-toggle-next-total-height: 6258px;
$btn-toggle-next-image: '~@/assets/spritesheet.png';
$btn-toggle-next: (1898px, 5828px, -1898px, -5828px, 200px, 200px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-toggle-next', );
$btn-toggle-ok-name: 'btn-toggle-ok';
$btn-toggle-ok-x: 2103px;
$btn-toggle-ok-y: 5828px;
$btn-toggle-ok-offset-x: -2103px;
$btn-toggle-ok-offset-y: -5828px;
$btn-toggle-ok-width: 200px;
$btn-toggle-ok-height: 200px;
$btn-toggle-ok-total-width: 7698px;
$btn-toggle-ok-total-height: 6258px;
$btn-toggle-ok-image: '~@/assets/spritesheet.png';
$btn-toggle-ok: (2103px, 5828px, -2103px, -5828px, 200px, 200px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-toggle-ok', );
$btn-toggle-pause-name: 'btn-toggle-pause';
$btn-toggle-pause-x: 2308px;
$btn-toggle-pause-y: 5828px;
$btn-toggle-pause-offset-x: -2308px;
$btn-toggle-pause-offset-y: -5828px;
$btn-toggle-pause-width: 200px;
$btn-toggle-pause-height: 200px;
$btn-toggle-pause-total-width: 7698px;
$btn-toggle-pause-total-height: 6258px;
$btn-toggle-pause-image: '~@/assets/spritesheet.png';
$btn-toggle-pause: (2308px, 5828px, -2308px, -5828px, 200px, 200px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-toggle-pause', );
$btn-toggle-play-name: 'btn-toggle-play';
$btn-toggle-play-x: 2513px;
$btn-toggle-play-y: 5828px;
$btn-toggle-play-offset-x: -2513px;
$btn-toggle-play-offset-y: -5828px;
$btn-toggle-play-width: 200px;
$btn-toggle-play-height: 200px;
$btn-toggle-play-total-width: 7698px;
$btn-toggle-play-total-height: 6258px;
$btn-toggle-play-image: '~@/assets/spritesheet.png';
$btn-toggle-play: (2513px, 5828px, -2513px, -5828px, 200px, 200px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-toggle-play', );
$btn-toggle-print-name: 'btn-toggle-print';
$btn-toggle-print-x: 7496px;
$btn-toggle-print-y: 4547px;
$btn-toggle-print-offset-x: -7496px;
$btn-toggle-print-offset-y: -4547px;
$btn-toggle-print-width: 200px;
$btn-toggle-print-height: 201px;
$btn-toggle-print-total-width: 7698px;
$btn-toggle-print-total-height: 6258px;
$btn-toggle-print-image: '~@/assets/spritesheet.png';
$btn-toggle-print: (7496px, 4547px, -7496px, -4547px, 200px, 201px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-toggle-print', );
$btn-toggle-repeat-name: 'btn-toggle-repeat';
$btn-toggle-repeat-x: 2923px;
$btn-toggle-repeat-y: 5828px;
$btn-toggle-repeat-offset-x: -2923px;
$btn-toggle-repeat-offset-y: -5828px;
$btn-toggle-repeat-width: 200px;
$btn-toggle-repeat-height: 200px;
$btn-toggle-repeat-total-width: 7698px;
$btn-toggle-repeat-total-height: 6258px;
$btn-toggle-repeat-image: '~@/assets/spritesheet.png';
$btn-toggle-repeat: (2923px, 5828px, -2923px, -5828px, 200px, 200px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-toggle-repeat', );
$btn-toggle-sound-name: 'btn-toggle-sound';
$btn-toggle-sound-x: 3128px;
$btn-toggle-sound-y: 5828px;
$btn-toggle-sound-offset-x: -3128px;
$btn-toggle-sound-offset-y: -5828px;
$btn-toggle-sound-width: 200px;
$btn-toggle-sound-height: 200px;
$btn-toggle-sound-total-width: 7698px;
$btn-toggle-sound-total-height: 6258px;
$btn-toggle-sound-image: '~@/assets/spritesheet.png';
$btn-toggle-sound: (3128px, 5828px, -3128px, -5828px, 200px, 200px, 7698px, 6258px, '~@/assets/spritesheet.png', 'btn-toggle-sound', );
$logo-jogo-name: 'logo-jogo';
$logo-jogo-x: 0px;
$logo-jogo-y: 5828px;
$logo-jogo-offset-x: 0px;
$logo-jogo-offset-y: -5828px;
$logo-jogo-width: 868px;
$logo-jogo-height: 430px;
$logo-jogo-total-width: 7698px;
$logo-jogo-total-height: 6258px;
$logo-jogo-image: '~@/assets/spritesheet.png';
$logo-jogo: (0px, 5828px, 0px, -5828px, 868px, 430px, 7698px, 6258px, '~@/assets/spritesheet.png', 'logo-jogo', );
$input-box-name: 'input-box';
$input-box-x: 963px;
$input-box-y: 5430px;
$input-box-offset-x: -963px;
$input-box-offset-y: -5430px;
$input-box-width: 971px;
$input-box-height: 139px;
$input-box-total-width: 7698px;
$input-box-total-height: 6258px;
$input-box-image: '~@/assets/spritesheet.png';
$input-box: (963px, 5430px, -963px, -5430px, 971px, 139px, 7698px, 6258px, '~@/assets/spritesheet.png', 'input-box', );
$robot-balloon-name: 'robot-balloon';
$robot-balloon-x: 5778px;
$robot-balloon-y: 5182px;
$robot-balloon-offset-x: -5778px;
$robot-balloon-offset-y: -5182px;
$robot-balloon-width: 1095px;
$robot-balloon-height: 226px;
$robot-balloon-total-width: 7698px;
$robot-balloon-total-height: 6258px;
$robot-balloon-image: '~@/assets/spritesheet.png';
$robot-balloon: (5778px, 5182px, -5778px, -5182px, 1095px, 226px, 7698px, 6258px, '~@/assets/spritesheet.png', 'robot-balloon', );
$counter-name: 'counter';
$counter-x: 1973px;
$counter-y: 5574px;
$counter-offset-x: -1973px;
$counter-offset-y: -5574px;
$counter-width: 427px;
$counter-height: 146px;
$counter-total-width: 7698px;
$counter-total-height: 6258px;
$counter-image: '~@/assets/spritesheet.png';
$counter: (1973px, 5574px, -1973px, -5574px, 427px, 146px, 7698px, 6258px, '~@/assets/spritesheet.png', 'counter', );
$logoceara2050-name: 'logoceara2050';
$logoceara2050-x: 2618px;
$logoceara2050-y: 5430px;
$logoceara2050-offset-x: -2618px;
$logoceara2050-offset-y: -5430px;
$logoceara2050-width: 251px;
$logoceara2050-height: 86px;
$logoceara2050-total-width: 7698px;
$logoceara2050-total-height: 6258px;
$logoceara2050-image: '~@/assets/spritesheet.png';
$logoceara2050: (2618px, 5430px, -2618px, -5430px, 251px, 86px, 7698px, 6258px, '~@/assets/spritesheet.png', 'logoceara2050', );
$spritesheet-width: 7698px;
$spritesheet-height: 6258px;
$spritesheet-image: '~@/assets/spritesheet.png';
$spritesheet-sprites: ($bg-bebedouro, $bg-cenario-sala, $bg-chao-sujo, $bg-cozinha, $bg-horta, $bg-menu, $bg-sete-erros, $cenario-inovacao2, $cenario-mapacpeca, $cenario-mapaspeca, $cenario1-governo, $cenarioalimentacao, $cenariocarrinho-inovacao, $cenarioescola-dentro, $cenarioescola-fora, $cenariogoverno-ong, $cenariogoverno-radio, $cenariogoverno-radio3, $cenarioprefeitura-governo, $balloon-comment, $box-comment, $btn-action-blue, $btn-action-orange, $btn-action-white, $btn-btinfo-mouseover, $btn-btmusic-mouseover, $btn-btmusicoff-ativo, $btn-btrepetirinativo-, $btn-op-no, $btn-op-yes, $btn-start, $btn-toggle-arrow-p, $btn-toggle-arrow, $btn-toggle-close, $btn-toggle-download, $btn-toggle-home, $btn-toggle-info, $btn-toggle-mute, $btn-toggle-next, $btn-toggle-ok, $btn-toggle-pause, $btn-toggle-play, $btn-toggle-print, $btn-toggle-repeat, $btn-toggle-sound, $logo-jogo, $input-box, $robot-balloon, $counter, $logoceara2050, );
$spritesheet: (7698px, 6258px, '~@/assets/spritesheet.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
